<div class="container">
  <h1>Bienvenidos a Bluesoft Bank</h1>

  <app-account-details [account]="currentAccount"></app-account-details>

  <app-transaction-form (transactionMade)="handleTransaction($event)"></app-transaction-form>

  <app-transaction-history [transactions]="transactionSimp"></app-transaction-history>

  <!--
  <app-monthly-statements 
    [month]="selectedMonth" 
    [statement]="monthlyStatement">
  </app-monthly-statements>-->

 <!-- <app-reports 
  [topCustomers]="topCustomers" 
  [outOfCityWithdrawals]="outOfCityWithdrawals">
</app-reports>-->
</div>