<div class="account-list">
  <h2>Listado de Cuentas</h2>
  <table>
    <thead>
      <tr>
        <th>Número de Cuenta</th>
        <th>Tipo</th>
        <th>Saldo</th>
        <th>Fecha de Creación</th>
      </tr>
    </thead>
    <tbody>
 <!-- <tr *ngFor="let account of accounts">
        <td>{{ account.number }}</td>
        <td>{{ account.type }}</td>
       <td>{{ account.balance | currency }}</td>
        <td>{{ account.createdDate | date }}</td>
       
        <td>{{ account.balance }}</td>
        <td>{{ account.createdDate }}</td>
      </tr> -->
    </tbody>
  </table>
</div>